@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #121212;
    --secondary-color: #ecf0f1;
    --tertiary-color: #fcbf15;
    --quaternary-color: #ffffff;
    --poppins: "Poppins", sans-serif;
    --title-size: 1.875rem;
    --heading-1-size: 1.5rem;
    --paragraph-size: 1rem;
}

/* General Page Container */
.adminpage-container {
    display: flex;
    height: 100vh;
}

/* Side Nav */
.adminnav.open ~ .rec-submissions {
    margin-left: 18.75rem;
}

/* REC Submissions */
.rec-submissions {
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    background-color: var(--secondary-color);
    height: 100vh;
    margin-left: 5.625rem;
}

/* Main Content Div for REC Submissions */
.adminmain-content {
    font-family: var(--poppins);
    color: var(--primary-color);
    max-width: 81.25rem;
    height: 100%;
    margin: 2rem auto;
    padding: 2rem;
    box-sizing: border-box;
}

/* Header */

.rec-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UserLoggedIn {
  flex-shrink: 0;
}

.rec-header {
    margin-top: 0.2rem;
    flex-grow: 1;
}

.rec-header h1 {
    color: var(--primary-color);
    font-size: var(--title-size);
    font-weight: bold;
}

.rec-header p {
    font-size: var(--paragraph-size);
    color: var(--primary-color);
    padding-top: 0.4rem;
}

/* Submission Tabs */

.rec-submissions-tabs {
  margin-top: 4rem;
}

.rec-buttons-container {
  align-items: stretch;
  gap: 10px;
  display: flex;
}

.rec-buttons-container button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.625rem 1.8rem;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 15px 15px 0 0;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: left;
  min-width: 9rem;
  background-color: var(--tertiary-color);
  padding-bottom: 1.5rem; /* for hover effect */
}

.rec-buttons-container span {
  font-size: var(--heading-1-size);
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.rec-buttons-container button:nth-child(1) {
  background-color: #fff1c0;
}

.rec-buttons-container button:nth-child(2) {
  background-color: #ffe78f;
}

.rec-buttons-container button:nth-child(3) {
  background-color: #FFDD66;
}

.rec-buttons-container button:nth-child(4) {
  background-color: #FFD433;
}

.rec-buttons-container button:nth-child(5) {
  background-color: #FCCC1A;
}

.rec-buttons-container button:nth-child(6) {
  background-color: #FCBF15;
}

.rec-buttons-container button:hover {
  transform: translateY(-5px);
}

.rec-buttons-container button:active {
  background-color: var(--quaternary-color);
}

/* Dropdown Option for Responsiveness */
.rec-dropdown-mobile select {
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  height: 2.6rem;
  width: 100%;
  border-radius: 10px 10px 0 0;
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: 600;
  background-color: var(--tertiary-color);
  border-right: 0.5rem solid transparent;
  margin: 1rem 0;
  box-sizing: border-box;
}

.rec-dropdown-mobile select:focus {
  outline: none;
  border-color: var(--tertiary-color);
}

.rec-dropdown-mobile select option {
  box-sizing: border-box;
}

/* Tables */
.rec-tables {
  background-color: var(--quaternary-color);
  border-radius: 0 15px 15px 15px;
  margin: 0 0 3rem 0;
  padding: 2rem;
  position: relative;
  transform: translateY(-8%);
}

.rec-tables h1 {
  font-size: var(--title-size);
  font-weight: bold;
  color: var(--tertiary-color);
  margin-bottom: 1.5rem;
}


/* Table Styling */

.rec-table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--poppins);
  background-color: var(--quaternary-color);
  border-radius: 15px;
}

.rec-table th, td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 0.063rem solid #ddd;
}

.rec-table th {
  color: var(--primary-color);
}

.rec-table::-webkit-scrollbar {
  height: 8px; 
}

.rec-table::-webkit-scrollbar-thumb {
  background-color: #fcbf15; 
  border-radius: 4px; 
}

.rec-table::-webkit-scrollbar-track {
  background-color: #ddd; 
}


.rec-table tr:hover {
  background-color: #f2f2f2;
}

.rec-view-btn {
  padding: 0.375rem 1.125rem;
  font-size: var(--paragraph-size);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--tertiary-color);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.rec-view-btn:hover {
  transform: scale(1.05);
}

/* scroll design  */
::-webkit-scrollbar {
  background-color: var(--primary-color);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
  border-radius: 10px;
}

/* Responsiveness */

/* Larger Screens */
@media only screen and (min-width: 1201px) {
  .recnav-mobile {
    display: none;
  }

  .rec-header-container-mobile {
    display: none;
  }

  .rec-submissions-tabs {
    width: 100%;
    box-sizing: border-box;
  }

  .rec-dropdown-mobile {
    display: none;
  }

}

/* Laptops & Desktops */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .recnav-mobile {
    display: none;
  }

  .rec-header-container-mobile {
    display: none;
  }

  .rec-dropdown-mobile {
    display: none;
  }

  .rec-buttons-container {
    max-width: 80%;
    box-sizing: border-box;
  }

  .rec-buttons-container span {
    font-size: 1.1rem;
  }

  .rec-buttons-container button {
    font-size: 0.8rem;
  }

  .rec-tables {
    border-radius: 0 0 15px 15px;
  }
}


  /* Tablet */
  @media only screen and (min-width: 577px) and (max-width: 768px) {
    .recnav-mobile {
      display: none;
    }

    .rec-tables {
      background-color: var(--quaternary-color);
      border-radius: 0 0 10px 10px;
      margin: 0 0 3rem 0;
      padding: 2rem;
    }

    .rec-table {
      font-size: var(--paragraph-size);
      border-radius: 10px;
      width: 100%;
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }

    .rec-header-container {
      display: none;
    }

    .rec-header {
      margin: 1rem 0;
    }

    .rec-header h1 {
      font-size: var(--title-size);
    }

    .rec-header p {
      font-size: var(--paragraph-size);
      padding-top: 0.4rem;
    }

    .adminmain-content {
      padding: 1.5rem;
      margin: 1.5rem;
      max-width: 80%;
    }

    .rec-submissions {
      margin-left: 5.625rem;
      padding: 2rem;
    }

    .rec-buttons-container {
      display: none;
    }

    .rec-submissions-tabs {
      margin: 1rem 0;
    }

    .rec-table {
      font-size: var(--paragraph-size);
      width: 100%;
      display: block;
      overflow-x: auto;
    }

    .rec-table th, .rec-table td {
      padding: 0.5rem;
    }

    .rec-buttons-container button:hover {
      transform: scale(1.02);
    }

  }


    /* Mobile */
    @media only screen and (max-width: 576px) {
      .recnav {
        display: none;
      }

      .recnav-mobile {
        display: block;
      }

      .adminpage-container .recnav {
        display: none;
      }
    
      /* Mobile General Page Container */
      .adminpage-container {
        flex-direction: column;
        height: auto;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-x: hidden;
      }
    
      /* Mobile REC Submission */
      .rec-submissions {
        margin-left: 0;
        padding: 1rem;
        height: auto;
      }
    
      /* Mobile Main Content Div for REC Submission */
      .adminmain-content {
        padding: 1rem;
        margin: 1rem auto;
        max-width: 100%;
      }
    
      /* Mobile Header */
      .rec-header-container {
        display: none;
      }

      .rec-header-container-mobile {
        align-items: center;
      }

      .rec-header-container-mobile h1 {
        font-size: var(--heading-1-size);
      }

      .userloggedin-mobile {
        margin-bottom: 1.5rem;
      }

      /* Mobile Tables */

      .rec-buttons-container {
        display: none;
      }

      .rec-submissions-tabs {
        margin: 1rem 0;
      }

      .rec-buttons-container button {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.3rem 0.8rem;
        font-size: 0.7rem;
        transition: background-color 0.3s ease;
        text-align: left;
      }

      .rec-tables {
        background-color: var(--quaternary-color);
        border-radius: 0 0 10px 10px;
        margin: 0 0 3rem 0;
        padding: 2rem;
      }

      .rec-table {
        font-size: 0.875rem;
        border-radius: 10px;
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
      }

    }
