.uli-container {
  display: flex;
  align-items: auto;
  width: auto;
}

.uli-image {
  border-radius: 50%;
  margin-right: 0.625rem;
}

.uli-textContainer {
  display: flex;
  flex-direction: column;
}

.uli-name {
  font-weight: bold;
}

.uli-time {
  font-size: 0.75rem;
  color: gray;
}