@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #121212;
  --secondary-color: #ecf0f1;
  --tertiary-color: #fcbf15;
  --quaternary-color: #ffffff;
  --poppins: "Poppins", sans-serif;
}

.modal-dialog {
    width: fit-content;
}

.addacc-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.addacc-modal-overlay .modal-content,
.addacc-modal-overlay .modal-dialog,
.addacc-modal-overlay .modal-header,
.addacc-modal-overlay .modal-body,
.addacc-modal-overlay .modal-footer {
    border-radius: 1.4rem;
}

/* Header */
.addacc-modal-header {
  border-bottom: none;
  font-family: var(--poppins);
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.addacc-modal-title {
  color: var(--primary-color);
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

/* Body */
.addacc-modal-body {
  padding: 0 5rem;
  font-family: var(--poppins);
  text-align: center;
}

.addacc-modal-body h4 {
  color: #28255a;
}

.addacc-modal-body p {
  color: #6c757d;
}

/* Form Fields */
.addacc-modal-body .form-group {
    margin-bottom: 1.5rem;
}

.addacc-modal-body .form-label {
    font-family: var(--poppins);
    color: var(--primary-color);
    padding-top: 0.5rem;
    text-align: left;
}

.addacc-modal-body .form-control {
    border-radius: 0.7rem;
    background-color: #F4F4F4;
    padding: 1rem;
    font-family: var(--poppins);
    width: 34rem;
    padding-left: 3.5rem;
}

.addacc-modal-body .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.addacc-modal-overlay .modal-content {
    border-radius: 1rem;
}

.access-token-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.access-token-group .form-control-with-icon {
    flex-grow: 1;
    flex-shrink: 1; 
    width: 34rem;
}

.access-token-group .btn.generate-token-btn {
    background-color: #369AD2;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-family: var(--poppins);
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.6rem 1rem;
    margin-left: 1rem;
    white-space: nowrap;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 9.375rem;
    height: auto;
}

.access-token-group .btn.generate-token-btn:hover {
    background-color: #2b7fac;
}

.form-group-with-icon {
    display: flex;
    align-items: center;
    position: relative;
}

.form-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
}

.form-control-with-icon {
    padding-left: 3.5rem;
    flex-grow: 1;
}

/* Two Buttons */
.addacc-modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

.addacc-modal-footer .btn {
  border: none;
  font-family: var(--poppins);
  font-weight: 500;
}

.addacc-modal-footer .btn.cancel {
  background-color: #6c757d;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.7rem 3rem;
}

.addacc-modal-footer .btn.cancel:hover {
  background-color: #5a6268;
}

.addacc-modal-footer .btn.addacc {
  background-color: var(--tertiary-color);
  color: #fff;
  font-size: 0.9rem;
  padding: 0.7rem 2rem;
}
