@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #121212;
    --secondary-color: #ecf0f1;
    --tertiary-color: #fcbf15;
    --quaternary-color: #ffffff;
    --poppins: "Poppins", sans-serif;
}

/* Sidebar Container */
.adminnav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--primary-color);
    width: 5.625rem;
    transition: transform 0.3s ease, width 0.3s ease;
    z-index: 1000;
}

.adminnav.open {
    transform: translateX(0);
    width: 18.75rem;
}

/* Admin Content and Logout */
.adminnav-content,
.adminnav-logout {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.adminnav-content {
    padding-top: 3rem;
}

.adminnav-logout {
    margin-top: auto;
    overflow: hidden;
}

/* Flex and Alignment */
.adminnav-content div,
.adminnav-logout div,
.adminnav ul li a {
    display: flex;
    align-items: center;
}

.adminnav-content div img,
.adminnav-logout div img {
    width: 2rem;
    height: 2rem;
}

/* List and Links */
.adminnav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.adminnav ul li {
    margin: 2.5rem 0;
}

.adminnav ul li a {
    color: var(--quaternary-color);
    text-decoration: none;
    padding: 0.9375rem;
    display: flex;
    align-items: center;
    font-family: var(--poppins);
    font-size: 1rem;
    transition: color 0.1s ease, background-color 0.1s ease;
}

.adminnav ul li a:hover {
    color: var(--tertiary-color);
    background-color: rgba(0, 0, 0, 0.1);
}

.adminnav ul li a span {
    margin-left: 0.625rem;
    white-space: nowrap;
    overflow: hidden;
    transition: color 0.3s ease;
}

/* Dropdown */
.dropdown-div {
    display: flex;
    align-items: center;
    padding: 0.9375rem; 
    background-color: var(--primary-color);
    cursor: pointer;
    font-family: var(--poppins);
    font-size: 1rem;
    color: var(--quaternary-color);
}

.dropdown-div:hover {
    color: var(--tertiary-color);
    background-color: rgba(0, 0, 0, 0.1);
}

.adminnav-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
}

.adminnav-dropdown li {
    margin: 0.3125rem 0 !important;
    padding: 0 !important;
}

.adminnav-dropdown li a {
    display: flex;
    align-items: center;
    color: var(--quaternary-color);
    font-family: var(--poppins);
    font-size: 1rem;
    text-decoration: none;
    padding: 0.1rem 0.3125rem 0.1rem 2rem !important;
    transition: color 0.1s ease, background-color 0.1s ease;
}

.adminnav-dropdown li a:hover {
    color: var(--tertiary-color);
    background-color: rgba(0, 0, 0, 0.1);
}

.adminnav-dropdown li a span {
    margin-left: 0.625rem;
    white-space: nowrap;
    overflow: hidden;
    transition: color 0.3s ease;
}

/* Dropdown Toggle */
.dropdown-toggle {
    cursor: pointer;
    margin-left: 0.9375rem;
}

.dropdown-toggle:hover {
    color: var(--tertiary-color);
    background-color: rgba(0, 0, 0, 0.1);
}

/* Nav Toggle */
.adminnav-toggle {
    position: absolute;
    top: 50%;
    right: -1.0625rem;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    color: #fff;
    width: 2.125rem;
    height: 7.5rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
}

.adminnav-toggle span {
    font-size: 0.75rem;
    line-height: 1;
}

.adminnav:not(.open) .adminnav-content span,
.adminnav:not(.open) .adminnav-logout span {
    display: none;
}

.adminnav.open .adminnav-content span,
.adminnav.open .adminnav-logout span {
    display: inline;
}


/* Responsiveness */
/* Mobile View */
@media only screen and (max-width: 576px) {
    .adminnav {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 7.125rem;
        background-color: var(--primary-color);
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transform: translateY(0);
        transition: transform 0.3s ease;
    }

    .adminnav.visible {
        transform: translateY(0);
    }

    .adminnav.hidden {
        transform: translateY(100%);
    }

    .adminnav-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 0;
    }

    .adminnav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .adminnav ul li .accounts-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0.5rem;
    }

    .adminnav ul li {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    .adminnav ul li div,
    .adminnav ul li a {
        color: var(--quaternary-color);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: var(--poppins);
        font-size: 0.75rem;
        transition: color 0.1s ease;
        padding: 1rem 0.3rem;
    }
    
    .adminnav ul li a img,
    .adminnav ul li div img {
        width: 2rem;
        height: 2rem;
        margin-bottom: 0.25rem;
    }
    
    .adminnav ul li a p,
    .adminnav ul li div p {
        margin-top: 0.25rem;
        font-size: 0.75rem;
    }
}

/* Adminnav Popup */
.adminnav-pop-up {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    z-index: 1500;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 25px 25px 0 0;
}

/* grab handle for closing popup */
.grab-handle {
    width: 55px;
    height: 3px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.adminnav-pop-up.show {
    transform: translateY(0);
}

.adminnav-pop-up.hide {
    transform: translateY(100%);
}

.adminnav-pop-up p {
    margin: 0.1rem 0;
    font-family: var(--poppins);
    font-size: 1rem;
    text-align: center;
}