@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #121212;
  --secondary-color: #d9d9d9;
  --tertiary-color: #fcbf15;
  --quaternary-color: #fffcf7;

  --poppins: "Poppins", sans-serif;

  --title-size: 2rem;
  --heading-1-size: 1.5rem;
  --paragraph-size: 0.85rem;
}

.unauthorized-container {
  text-align: center;
  font-family: var(--poppins);
  color: var(--primary-color);
  background-color: var(--quaternary-color);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.unauthorized-title {
  font-size: var(--title-size);
  margin-bottom: 20px;
  color: var(--primary-color);
}

.unauthorized-message {
  font-size: var(--paragraph-size);
  margin-bottom: 30px;
  color: var(--secondary-color);
}

.unauthorized-link {
  font-size: var(--heading-1-size);
  color: var(--tertiary-color);
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid var(--tertiary-color);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.unauthorized-link:hover {
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);
}
