@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #121212;
  --secondary-color: #ecf0f1;
  --tertiary-color: #fcbf15;
  --quaternary-color: #ffffff;
  --poppins: "Poppins", sans-serif;
  --title-size: 1.875rem;
  --heading-1-size: 1.5rem;
  --paragraph-size: 1rem;
}

.profileheader {
  background-image: url("/images/userprofile/profile-header.png");
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 220px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

.profileheader h1 {
  color: var(--tertiary-color);
  font-family: Poppins;
  font-size: var(--title-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.profile-divider {
  width: 100%;
  height: 0.938rem;
  background-color: var(--tertiary-color);
  margin: 0;
  padding: 0;
}

/* User Profile Main Content */

.profile-container {
  font-family: Poppins;
  display: flex;
  margin: 1.5rem;
}

/* Left Side of Main Content */

.profile-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 1rem 3rem 10rem;
  width: fit-content;
  max-width: 30%;
}

.profile-cardleft {
  background-color: var(--quaternary-color);
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  padding: 3.2rem 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-cardleft img {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.profile-cardleft h5 {
  padding: 1rem 2rem;
  font-size: var(--heading-1-size);
  font-weight: bold;
}

/* Right Side of Main Content */

.profile-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 3rem 10rem 3rem 1rem;
  width: 70%;
}

.profile-cardright {
  background-color: var(--quaternary-color);
  border-radius: 0 0 10px 10px;
  width: 100%;
  justify-content: center;
  align-items: left;
  text-align: left;
}

.profile-cardright-title {
  font-size: var(--heading-1-size);
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  border-radius: 10px 10px 0 0 ;
  width: 100%;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-cardright-body {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
}

.profile-cardright-row {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
}

.profile-cardright-labels {
  max-width: 30%;
  color: gray;
  font-weight: bold;
  text-align: right;
  padding-right: 1rem;
}

.profile-cardright-content {
  max-width: 70%;
  flex: 1;
  padding-left: 1rem;
}

.profile-cardright-labels p,
.profile-cardright-content p {
  margin: 0;
}

.check-status {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  margin-top: auto;
}

.check-status button {
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);
  border: none;
  border-radius: 10px;
  padding: 0.8rem 6.8rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: var(--paragraph-size);
  font-weight: bold;
}

.check-status button:hover {
  background-color: var(--primary-color);
  transition: background-color 0.3s ease-in-out;
}


/* scroll design  */
::-webkit-scrollbar {
  background-color: var(--primary-color);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
  border-radius: 10px;
}

/* Responsiveness */

/* Mobile */
@media only screen and (max-width: 576px) {
  .profileheader {
    height: 8rem;
    background-size: cover;
  }

  .profileheader h1 {
    font-size: var(--heading-1-size);
  }

  .profile-container {
    flex-direction: column;
    margin: 1rem;
  }

  .profile-left {
    margin: 1rem auto;
    max-width: 100%;
    align-items: center;
  }

  .profile-cardleft {
    padding: 2rem 1rem;
    width: 100%;
    max-width: none;
  }

  .profile-cardleft img {
    width: 6.25rem;
    height: 6.25rem;
  }

  .profile-right {
    margin: 1rem auto;
    width: 100%;
  }

  .profile-cardright {
    width: 100%;
  }

  .profile-cardright-body {
    padding: 1rem;
    text-align: center;
  }

  .profile-cardright-row {
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
  }

  .profile-cardright-labels {
    max-width: 100%;
    text-align: center;
    padding-right: 0;
    padding-bottom: 0.5rem;
  }

  .profile-cardright-content {
    max-width: 100%;
    padding-left: 0;
  }

  .profile-cardright-labels p,
  .profile-cardright-content p {
    margin: 0;
  }

  .check-status {
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }

  .check-status button {
    padding: 0.5rem 2.5rem;
    font-size: var(--paragraph-size);
  }

  ::-webkit-scrollbar {
    width: 3px;
  }
}



    /* Tablet */
    @media only screen and (min-width: 577px) and (max-width: 768px) {
      .profileheader {
        height: 10rem;
        background-size: cover;
      }
    
      .profileheader h1 {
        font-size: var(--title-size);
      }
    
      .profile-container {
        flex-direction: column;
        margin: 1rem;
      }
    
      .profile-left {
        margin: 2rem auto;
        max-width: 100%;
        align-items: center;
      }
    
      .profile-cardleft {
        padding: 2rem 1rem;
        width: 120%;
        max-width: none;
      }
    
      .profile-cardleft img {
        width: 8rem;
        height: 8rem;
      }
    
      .profile-right {
        margin: 2rem auto;
        width: 90%;
      }
    
      .profile-cardright {
        width: 100%;
      }
    
      .profile-cardright-body {
        padding: 1rem;
        text-align: center;
      }
    
      .profile-cardright-row {
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
      }
    
      .profile-cardright-labels {
        max-width: 100%;
        text-align: center;
        padding-right: 0;
        padding-bottom: 0.5rem;
      }
    
      .profile-cardright-content {
        max-width: 100%;
        padding-left: 0;
      }
    
      .check-status {
        align-items: center;
        text-align: center;
        margin-top: 2rem;
      }
    
      .check-status button {
        padding: 0.5rem 2.5rem;
        font-size: var(--paragraph-size);
      }
    
      ::-webkit-scrollbar {
        width: 4px;
      }
    }