@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #121212;
  --secondary-color: #ecf0f1;
  --tertiary-color: #fcbf15;
  --quaternary-color: #ffffff;
  --poppins: "Poppins", sans-serif;
  --title-size: 2rem;
  --heading-1-size: 1.5rem;
  --paragraph-size: 0.85rem;
}

.stepbar-nav {
  border-radius: 5px;
  background-image: url("/images/forms/bg-5.jpg");
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
  height: fit-content;

  position: relative;
  top: 3rem;
  padding: 2rem;
}

.stepbar-colpad {
  padding-top: 15px;
}

.stepbar-navtext {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  margin-bottom: 20px;
}

.PIforms-cont1 {
  background-color: white;
  border-radius: 5px;
  padding-top: 70px;
}

.PIforms-header {
  color: #121212;
  font-family: Poppins;
  font-size: var(--heading-1-size);
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.PIforms-text {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: var(--paragraph-size);
  font-style: normal;
  max-width: 1200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.PIforms-rescont {
  background-color: white;
  max-width: 800px;
  border-color: #121212;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 20px;
}

.PIforms-resconthead {
  color: #ecf0f1;
  font-family: Poppins;
  font-size: var(--heading-1-size);
  font-style: normal;
  font-weight: 700;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  background: #121212;
  padding-top: 5px;
  padding-bottom: 5px;
}

.PIforms-formtext {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
  max-width: 500px;
  margin-top: 5px;
}

.PIforms-select {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
  max-width: 500px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.PIforms-checkcont {
  background-color: white;
  max-width: 800px;
  border-color: #121212;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.PIforms-formcheck {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
  margin-top: 10px;
  max-width: fit-content;
}

.PIforms-formbtn {
  width: 200px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* pg2 */

.PIforms-headtext {
  color: #121212;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.PIforms-rescont2 {
  background-color: white;
  max-width: 1200px;
}

/* pg3 */
.PIforms-rescont3 {
  background-color: white;
  max-width: 600px;
}

/* scroll design  */
::-webkit-scrollbar {
  background-color: var(--primary-color);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
  border-radius: 10px;
}
