@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #121212;
  --secondary-color: #ecf0f1;
  --tertiary-color: #fcbf15;
  --quaternary-color: #ffffff;
  --poppins: "Poppins", sans-serif;
  --title-size: 2rem;
  --heading-1-size: 1.5rem;
  --paragraph-size: 0.85rem;
}

.stepbar-nav {
  border-radius: 5px;
  background-image: url("/images/forms/bg-5.jpg");
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
  height: fit-content;

  position: relative;
  top: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}

.stepbar-colpad {
  padding-top: 15px;
}

.step-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.step-circle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--quaternary-color);
  z-index: 2;
  position: relative;
}

.current-step {
  background-color: #fcbf15ed;
}

/* .current-step-title {
  color: #fcbf15 !important;
} */

.completed-step {
  background-color: #fcbf15;
  border-color: #fcbf15;
}

.step-line {
  width: 300px;
  height: 5px;
  background-color: var(--quaternary-color);
  position: absolute;
  top: 24px;
  right: -230px;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .step-line {
    width: 240px;
    right: -150px;
  }
}

@media screen and (max-width: 768px) {
  .step-line {
    width: 180px;
    right: -90px;
  }
}

.line-completed {
  background-color: #fcbf15;
}

/* .stepbar-navtext {
  font-size: 16px;
  color: #000;
} */

.stepbar-navtext {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
}

@media screen and (max-width: 426px) {
  .stepbar-navtext {
    display: none;
  }

  .step-line {
    width: 150px;
    right: -100px;
  }
}

@media screen and (max-width: 376px) {
  .step-line {
    width: 120px;
    right: -80px;
  }
}

@media screen and (max-width: 321px) {
  .step-line {
    width: 80px;
    right: -60px;
  }

  .step-circle {
    width: 48px;
    height: 48px;
  }
}

.PIforms-cont1 {
  background-color: white;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.PIforms-header {
  color: #121212;
  font-family: Poppins;
  font-size: var(--heading-1-size);
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.PIforms-text {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: var(--paragraph-size);
  font-style: normal;
  max-width: 1200px;
  margin-top: 20px;
}

.PIforms-rescont {
  background-color: white;
  max-width: 800px;
  border-color: #121212;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.PIforms-resconthead {
  color: #ecf0f1;
  font-family: Poppins;
  font-size: var(--heading-1-size);
  font-style: normal;
  font-weight: 700;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  background: #121212;
  padding-top: 5px;
  padding-bottom: 5px;
}

.PIforms-formtext {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
  max-width: 500px;
  margin-top: 5px;
}

.PIforms-select {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
  max-width: 500px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.PIforms-checkcont {
  background-color: white;
  max-width: 800px;
  border-color: #121212;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.PIforms-formcheck {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
  margin-top: 10px;
  max-width: fit-content;
}

.PIforms-formbtn {
  width: 200px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* pg2 */

.PIforms-headtext {
  color: #121212;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
}

.PIforms-rescont2 {
  background-color: white;
  max-width: 1200px;
  border-color: #121212;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  font-family: Poppins;
}

.PIforms-formtext2 {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 600px;
  margin-top: 5px;
}

.PIforms-formtext3 {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: fill-available;
  margin-top: 5px;
}

hr {
  border: none;
  border-top: 2px solid #000;
  height: 0;
}

.PIforms-table {
  width: 100%;
  font-family: Poppins;
  font-size: 15px;
}

.PIforms-select2 {
  max-width: 400px;
  margin-bottom: 10px;
}

/* pg3 */
.PIforms-rescont3 {
  background-color: white;
  max-width: 800px;
  border-color: #121212;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.PIforms-file {
  margin-bottom: 20px;
}

.PIforms-file:hover {
  background-color: var(--tertiary-color);
  transition: 0.5s;
}

/* scroll design  */
::-webkit-scrollbar {
  background-color: var(--primary-color);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
  border-radius: 10px;
}
