.searchForm {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  width: auto;
}

.searchInputContainer {
  position: relative;
  width: 100%;
}

.searchInput {
  padding: 0.5rem 1.375rem;
  padding-right: 2.5rem;
  font-size: 16px;
  border-radius: 10px;
  width: 100%;
  background-color: #ffffff;
}

.searchIcon {
  position: absolute;
  right: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #808080;
  margin-right: 0.625rem;
}