:root {
    --primary-color: #121212;
    --secondary-color: #ecf0f1;
    --tertiary-color: #fcbf15;
}

$breadcrumbStepCircleWidth: 3.25rem;
$breadcrumbStepCircleHeight: 3.25rem;


.breadcrumbs-status-breadcrumbs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
    margin: 2rem 0;
}

.breadcrumbs-step-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-bottom: 3rem;
    z-index: 0;
}

.breadcrumbs-step-line {
    width: 0.3125rem;
    height: 100%;
    flex-grow: 1;
    background-color: #dcdcdc;
    position: absolute;
    top: 1.625rem;
    left: 1.5rem;
    z-index: 1;
}

.breadcrumbs-step-circle {
    width: $breadcrumbStepCircleWidth;
    height: $breadcrumbStepCircleHeight;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECF0F1;
    z-index: 2;
}

.breadcrumbs-current-step {
    background-color: var(--tertiary-color);
}

.breadcrumbs-completed-step {
    background-color: var(--tertiary-color);
}

.breadcrumbs-step-content {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
}

.breadcrumbs-step-title {
    margin-left: 1.25rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #dcdcdc;
}

.breadcrumbs-step-description {
    margin-left: 1.25rem;
    font-size: 0.875rem;
    color: #dcdcdc;
    max-width: 25rem;
    margin-top: 0.5rem;
}

.breadcrumbs-step-line.yellow{
    background-color: var(--tertiary-color);
    transition: 5ms ease;
}

.breadcrumbs-step-circle.active {
    background-color: var(--primary-color);
}

.breadcrumbs-step-title.active,
.breadcrumbs-step-description.active {
    color: var(--primary-color);
}

.breadcrumbs-step-description.active {
    font-style: italic;
}

.breadcrumbs-step-title.completed {
    color: var(--tertiary-color);
}
.breadcrumbs-step-description.completed{
    color: var(--primary-color);
}

.breadcrumbs-step-circle.completed {
    background-color: var(--tertiary-color);
}

.breadcrumbs-step-line.no-line {
    display: none; /* Hide the line for the last step */
  }

.white-circle{
    background-color: white;
    width: $breadcrumbStepCircleWidth - 1.5rem;
    height: $breadcrumbStepCircleHeight - 1.5rem;
    border-radius: 100%;
}

/* Responsiveness */

/* Mobile */
@media only screen and (max-width: 576px) {
    .breadcrumbs-status-breadcrumbs {
        margin: 1rem;
    }

    .breadcrumbs-step-container {
        position: relative;
    }

    .breadcrumbs-step-line {
        // height: 11.5rem;
        left: 0;
        top: 1.625rem;
    }

    .breadcrumbs-step-circle {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        left: 0;
        top: 1rem; 
        transform: translateY(-50%) translateX(-50%);
    }

    .breadcrumbs-step-title {
        font-size: 1rem;
    }

    .breadcrumbs-step-description {
        font-size: 0.75rem;
        max-width: 20rem;
    }
}


/* Tablet */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .breadcrumbs-status-breadcrumbs {
        margin: 1.5rem;
    }

    .breadcrumbs-step-container {
        padding-bottom: 1rem;
        margin: 0;
    }

    .breadcrumbs-step-line {
        height: 9rem;
    }

    .breadcrumbs-step-circle {
        width: 3rem;
        height: 3rem;
        margin-top: 1rem; 
    }

    .breadcrumbs-step-content {
        margin-left: 3rem;
    }

    .breadcrumbs-step-title {
        font-size: 1.1rem;
    }

    .breadcrumbs-step-description {
        font-size: 0.85rem;
        max-width: 22rem;
    }
}

/* Laptop (1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .breadcrumbs-status-breadcrumbs {
        margin: 1rem;
    }

    .breadcrumbs-step-container {
        padding-bottom: 2rem;
    }

    .breadcrumbs-step-line {
        height: 100%;
        flex-grow: 1;
        top: 1.625rem;
        left: 0;
    }

    .breadcrumbs-step-circle {
        width: 3.25rem;
        height: 3.25rem;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-50%) translateX(-50%);
        margin-top: 2rem; 
    }

    .breadcrumbs-step-content {
        margin-top: 1rem; 
    }

    .breadcrumbs-step-title {
        font-size: 1.2rem;
    }

    .breadcrumbs-step-description {
        font-size: 0.9rem;
        max-width: 24rem;
    }
}

